.footer_bottom{
  background-color: $darkgrey;
  display: flex;
  height: 75px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  &-img{
    margin-right: 15px;
    &:last-child{
      margin-right: 70px;
    }
    .link_img {
      filter: invert(100%);
      width: 20px;
      height: 20px;
      @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        width: 48px;
        height: 48px;
      }
    }
  }
}
