.skills_container{
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 0 auto;
  &-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33.33%;
    & p {
      line-height: 30px;
      @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        font-size: 20px;
      }
    }
  }
}
