.title_container{
  display: flex;
  flex-direction: column;
  background-color: #850005;
  height:75vh;
  width:100%;
  align-items: center;
  justify-content: center;
  &-text{
    position: absolute;
    background-color: #850005;
    z-index: 10;
    & label{
      font-size: 30px;
      color: #fff;
      letter-spacing: 10px;
    }
  }
  &-square{
    position: absolute;
    margin: auto;
    border: 1px solid white;
    height: 100px;
    width: 275px;
  }
  &-subtext{
    position: relative;
    margin-top: 135px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 5px;

  }
}
