.work_container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
  &-item-left{
    display: flex;
    width: 90%;
    margin-bottom: 5%;
    align-self: center;
    height: 300px;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      display: block;
      margin-bottom: 67%;
    }
    & img{
      width: 45%;
      border-right: 15px solid $darkerred;
      @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        width: 100%;
        border-right: 0;
      }
    }
    & .arrow_right {
      	position: relative;
      	background: $darkerred;
        margin-top: 5%;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
          display: none;
        }
        &:after , &:before {
        	border: solid transparent;
        	content: " ";
        	height: 0;
        	width: 0;
        	position: absolute;
        	pointer-events: none;
          border-color: rgba(133, 0, 5, 0);
          border-left-color: $darkerred;
          border-width: 15px;
          margin-top: -15px;

        }
      }
    }
    & .work_text {
      margin-left: 3%;
      margin-top: 2%;
      @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        font-size: 20px;
      }
      & h4 {
        font-weight: bold;
        margin-bottom: 15px;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
          font-size: 22px;
        }
      }
    }
  &-item-right{
    display: flex;
    width: 90%;
    height: 300px;
    margin-bottom: 5%;
    align-self: flex-end;
    justify-content: flex-end;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      display: flex;
      flex-direction: column-reverse;
      align-self: center;
      margin-bottom: 67%;
    }
    & .work_text {
      display: flex;
      flex-direction: column;
      margin-right: 3%;
      margin-top: 2%;
      @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        font-size: 20px;
      }
      & h4 {
        font-weight: bold;
        margin-bottom: 15px;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
          font-size: 22px;
        }
      }
    }
    & .arrow_left {
      position: relative;
      background: $darkerred;
      margin-top: 5%;
      @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        display: none;
      }
      &:after , &:before {
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(133, 0, 5, 0);
        border-right-color: $darkerred;
        border-width: 15px;
        margin-top: -15px;
      }
    }
    & img{
      width: 45%;
      border-left: 15px solid $darkerred;
     @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        width: 100%;
        border-left: 0;
      }
    }

  }
}
